.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    max-width: 258px;
    width: 100%;
    height: 134px;

    padding: 25px;
    background-color: #ffffff;

    border:1px solid #DFE0EB;
    border-radius: 8px;

    transition: all 0.2s ease;
    
    h1 {
        margin-bottom: 24px;

        font-weight: 700;   
        font-size: 19px;
        color: #9FA2B4;

        transition: all 0.2s ease;
    }

    span {
        font-weight: 700;   
        font-size: 40px;
        color: #29292e;

        transition: all 0.2s ease;
    }

    &:hover {
        h1 {
            color: #3751FF;
        }
        span {
            color: #3751FF;
        }

        border:1px solid #3751FF;
        color: #3751FF;
        cursor: pointer;
    }
}